{% extends 'food/base.html' %}

{% block title %}Burger{% endblock %}

{% block content %}

    <div class="container-fluid">

        <div class="row text-center">
            <div class="coll-md-8">
                <h2 class="title">Dostępne Burgery</h2>
                <div class="row">
                    {% for Burger in burgery %}
                    <div class="col-md-6 p-4">
                        <img class="picture" src="{{ Burger.bimage }}">
                        <h4 class="pt-3" id="bur{{ burger.id }}">{{ Burger.name }}</h4>
                        <div class="form-check-inline">
                            <label class="form-check-label">

                                <input class="form-check-input" name="burger{{ burger.id }}" type="radio" value="{{ Burger.priceMedium}}" checked>
                                {{ Burger.priceMedium}} $

                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">




                            </label>
                    </div>
                        <div>
                            <button class="btn-info mt-3">Dodaj do koszyka</button>
                        </div>

                </div>
                    {% endfor %}
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
{% endblock %}