{% extends 'food/base.html' %}

{% load static %}

{% block title %}Pizza{% endblock %}

{% block content %}

    <div class="container-fluid">

        <div class="row">
            <div class="coll-md-8 test-center">
                <h2 class="title">Dostępne Pizze</h2>
                <div class="row">
                    {% for Pizza in pizze %}
                    <div class="col-md-6 col-sm-6 p-4">
                        <img class="picture" src="{{ Pizza.pimage }}">
                        <h4 class="pt-3" id="piz{{pizza.id}}">{{ Pizza.name }}</h4>
                        <div class="form-check-inline">
                            <label class="form-check-label">

                                <input class="form-check-label" type="radio" name="pizza{{pizza.id}}" value="{{ Pizza.priceMedium}}">
                               Średnia: {{ Pizza.priceMedium}} zł

                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">

                                <input class="form-check-label" type="radio" value="{{ Pizza.priceLarge}}" name="pizza{{pizza.id}}">
                                Duża: {{ Pizza.priceLarge}} zł

                            </label>
                    </div>
                        <div>
                            <button class="btn-info mt-3" onclick="addPizza('{{ pizza.id }}')">Dodaj do koszyka</button>
                        </div>

                </div>
                    {% endfor %}
            </div>
            <div class="col-md-4 orders ">
                <div class="bg-dark p-4 rounded text-light">
                    <h2 class="text-center">Lista zakupów</h2>
                    <ul id="pcart"> </ul>
                    <h4 class="text-center" id="ptotal">Razem: 0 zł</h4>

                </div>
            </div>
    </div>
    <script src="{% static 'food/js/orders.js' %}"></script>
{% endblock %}